@CHARSET "UTF-8";

.page-header div {
	width: 100%;
	padding-bottom: 1%;
	background-color: #000066;
}

.page-section {
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	padding-bottom: 30%;
}

.page-section div:nth-child(1) {
	width: 30%;
	background-color: #800080;
	float: left;
	padding-bottom: 30%;
}

.page-section div:nth-child(2) {
	width: 68%;
	background-color: #008000;
	float: right;	
	padding-bottom: 30%;
}

.page-footer div {
	width: 100%;
	padding-bottom: 1%;
	background-color: #0000ff;

}